<!-- THIS VIEW IS FOR THE HOME PAGE -->

<!-- The modal I added won't open for me (maybe I'm missing a CDN in sync with this file?) -->
<!-- ... But the idea is that this page would show a list of expenses (maybe some sorting options?)-->
<!-- .... and would include a BUTTON to open a modal for adding new expenses into the database -->
<div class="homePage">
  <nav class="navbar navbar-light" style="background-color: hsl(143, 99%, 31%);">
    <a class="navbar-brand" href="#">$pendTracker</a>
  </nav>

  <div id="home">

    <div class="container center-div">
      <div class="page-header row-fluid center-div">
        <h2>Hi, {username}!</h2>



        <div class="container summary-chart">
          <h5>Your weekly activity summary:</h5>
          <canvas id="myChart" width="500" height="250"></canvas>
          <p>(DEV NOTE: Could be bar chart of daily expenses, rolling 7-day window)</p>
        </div>

        <div class="container expenseHistory"></div>
        <h3>Your Recent Expenses</h3>
        <!-- Button to trigger "NEW EXPENSE" modal -->
        <button type="button" id="newExpenseBtn" class="btn btn-primary float-right" data-toggle="modal" data-target="#newExpenseModal">
          Add a new expense!
        </button></br>
        <table id="expense-list" class="table table-striped text-center">
        </table>
      </div>
    </div>
  </div>

  {{!-- Testing Add New Expense modal with format from a previous project --}}
  <!-- The Modal -->

  <div id="newExpenseModal" class="modal">

    <!-- Modal content -->

    <div class="modal-content col-md-6 offset-md-3">

      <h3 class="float-left">Add New Expense</h3>
      <span class="close text-right">&times;</span>

      <form class="clearfix mb-4" action="POST">
        <div class="form-group">
          <label for="title">Expense</label>
          <input type="text" class="form-control" id="addExpense" aria-describedby="title" placeholder="Enter text">
        </div>

        <div class="form-group">
          <label for="total">Total ($)</label>
          <input type="text" class="form-control" id="addTotal" aria-describedby="total" placeholder="Enter text">
        </div>

        <div class="form-group">
          <label for="date">Date</label>
          <input type="text" class="form-control datePicker" id="addDate" aria-describedby="date" placeholder="Enter text">
        </div>

        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" id="addCategory" aria-describedby="category" placeholder="Enter text"></select>
        </div>
        <button id="submit" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>

  {{!-- Testing update modal with format from a previous project --}}
  <!-- The Modal -->

  <div id="editModal" class="modal">

    <!-- Modal content -->

    <div class="modal-content col-md-6 offset-md-3">

      <h3 class="float-left">Update Expense</h3>
      <span class="close text-right">&times;</span>

      <form class="clearfix mb-4" action="POST">
        <div class="form-group">
          <label for="title">Expense</label>
          <input type="text" class="form-control" id="editExpense" aria-describedby="title" placeholder="Enter text">
        </div>

        <div class="form-group">
          <label for="total">Total ($)</label>
          <input type="text" class="form-control" id="editTotal" aria-describedby="total" placeholder="Enter text">
        </div>

        <div class="form-group">
          <label for="date">Date</label>
          <input type="text" class="form-control datePicker" id="editDate" aria-describedby="date" placeholder="Enter text">
        </div>

        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" id="editCategory" aria-describedby="category" placeholder="Enter text"></select>
        </div>
        <button id="submit" class="btn btn-info far fa-save float-right saveEdit"> Save</button>
      </form>
    </div>
  </div>
</div>
{{!-- JQuery & JQUI--}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script> {{!-- ChartJS --}}
<script src="/js/index.js"></script>{{!-- Custom JavaScript --}}
<script src="/js/charts.js"></script>{{!-- Custom JavaScript --}}