
<!-- THIS VIEW IS FOR ACCOUNT REGISTRATION -->

<title>Register for $pendTracker</title>

<body class="text-center">

    <div class="row-fluid">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">$pendTracker</h1>
                    <p>A simple app that helps you track and monitor spending at a glance.</br>
                    Take more control of your budget.</p>
                </div>
            </div>
        </div>

    <div class="row-fluid center-div">
    <form class="form-signin">
      <img class="mb-4" src="$pend.png" alt="" width="110" height="110">
      <h1 class="h3 mb-3 font-weight-normal">Register</h1>
      <label for="inputEmail" class="sr-only"></label>
      <input type="userName" id="inputUserName" class="form-control" placeholder="Choose a username" >
      <label for="inputPassword" class="sr-only"></label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" >
      <label for="inputPassword" class="sr-only"></label>
      <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" >
  
      <button id="registerBtn" class="btn btn-md btn-secondary btn-block btn-register" type="submit">Register</button>
    </div>
    </form>

</body>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/signup.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
